header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
header > a:first-of-type {
  text-decoration: none;
}
header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}
header .logo {
  height: 40vmin;
  pointer-events: none;
}
header .images-container {
  display: flex;
  align-items: center;
}
header .circular_image {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
header .circular_image img {
  width: 100%;
}
header .images-container-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}
header h4 {
  margin-bottom: 0;
}
header h5 {
  margin-top: 0;
}
.header-button-arrow {
  background-color: inherit;
  border: none;
}
.header-hiding-div {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 18vw;
  height: 13vh;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(169, 169, 169);
}
.header-hiding-div .header-button-log-in {
  margin: 3vh 3vw 0;
  width: 12vw;
  height: 5vh;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background: #FE3756;
}
.header-button-register {
  height: 25px;
  width: 396px;
  left: 0px;
  top: 153px;
  border-radius: nullpx;
  background: linear-gradient(0deg, #FE3756, #FE3756),
              linear-gradient(0deg, #222222, #222222);

}